{% extends "layouts/site.njk" %}
{% block main %}
<section class="sec">
  <div class="wrap nf">
    <b>٤٠٤</b>
    <h1>الصفحة التي تبحث عنها غير موجودة</h1>
    <p>ربما تغيّر الرابط أو حُذفت الصفحة. يمكنك العودة للرئيسية أو التواصل معنا مباشرة.</p>
    <div class="cta-actions">
      <a class="btn btn-teal" href="/">الصفحة الرئيسية</a>
      <a class="btn btn-line" href="/services">خدماتنا</a>
      <a class="btn btn-line" href="/contact">اتصل بنا</a>
    </div>
  </div>
</section>
{% endblock %}
